<html lang="en">
<head>
    <title>Welcome to E2Delivery</title>
</head>

<body>

    <%= render :partial => 'shared/navigation', :locals => {:page => "new_orders"} %>

    <div class="container">
        <div class="starter-template">
            <%= form_for(:orders, :html => {:class => 'form-horizontal'}, :url => orders_path) do |f| %>
                <%= render :partial => "orders/#{@order.current_step}_step", :locals => {:f => f} %>
                <p><%= f.submit "Continue" %></p>
                <p><%= f.submit "Back", :name => "back_button" unless @order.first_step? %></p>
            <% end %>
        </div>
    </div><!-- /.container -->

</body>
</html>